<header class="main-nav">
  <a exact class='main-nav-item' routerLink="/home" routerLinkActive="selected">
    <img src='assets/icons/home2.png' alt="Home" width="24px" height="24px" />
  </a>
  <a class='main-nav-item' routerLink="/contact" routerLinkActive="selected">
    <img src="assets/icons/phone-book.png" alt="Contacts" width="24px" height="24px" />
  </a>
  <a class='main-nav-item' routerLink="/statistics" routerLinkActive="selected">
    <img src="assets/icons/pie-chart (1).png" alt="Statistics" width="24px" height="24px" />
  </a>
</header>