/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Audiowide;
  src: url(./assets/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Oxygen;
  src: url(./assets/fonts/Oxygen/Oxygen-Regular.ttf);
}

html {
  min-height: 100vh;
  font-family: raleway, lato, "sans-serif";
  color: clr3;
  font-size: 16px;
  line-height: 1.6;
  // background-color: $clr1;
  scroll-behavior: smooth;
  color: white;
}

body {
  background: url("https://res.cloudinary.com/due4sgv19/image/upload/v1581922844/sgkd7rqafgq62tdborrt.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  margin: 0;
  overflow: hidden;
}

.btn {
  background-color: #dd5415;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}
